<!-- lists out all categories -->

{% extends 'wrapper.html' %}
{% block body %}

	{% if search %}
	<h3> Search results for "{{search}}"</h3>
	{% else %}
	<h3>Viewing all categories</h3>
	{% endif %}

<ul>
	{% for category in categories %}
	
		<li> <a href="{{url_for('showCategory', category_id = category.id)}}">{{ category.name }} </a> <span class="byLine"> by: <a href="{{url_for('showUserCats', user_id = category.created_by)}}">{{category.users_name}}</a> </span></li>
	
	{% endfor %}
</ul>

{% endblock %}
